 <div class = "head">

	 <h1 id = "slogan1">Be the change:</h1>
	 <a href="/new" id ="new-page">NEW</a> 
	 <a href="/" id ="nav_home">HOME</a>
	 <div>
	 	<a href="https://www.facebook.com/Fit-Track-1951485525122810/"> <img src="FB2.png" id ="FB"></a>
	 </div>
	 
	 <h2 id = "slogan2">For you haven't even reached your final form</h2> 

 	
 </div>

