#fun {
	color: #094ab5;
	font: bold;
	text-shadow: -70px 26px 6px rgba(9, 74, 181, 0.52);
    margin: 10px 10px 10px 10px;
	
	text-align: center;
	margin-top: 40px;
}

body {
	background-color: white;

}

.head {
	color: #FFFFFF;
	margin-left: 0px;
	border: ridge;
	margin-top: 0px;
	background-color: rgba(48, 44, 44, 0.2);
	height: 70px;


}




#new {
	background-color:#FFFFFF ;
	}

#exercise {
	color: green;
	margin-bottom: : 60px;
	
}



#intro {
	margin-left: 50px;
	height: 30px;
	width: 40px;
	border-style: none;
}

#learn {
	
	margin-right: 400px;
}