#fun {
	color: #094ab5;
	font: bold;
	text-shadow: -70px 26px 6px rgba(9, 74, 181, 0.52);
    margin: 10px 10px 10px 10px;
	
	text-align: center;
	margin-top: 10px;

}

body {
	background-blend-mode: color-dodge;

}

.head {
	color: #FFFFFF;
	margin-left: 0px;
	
	margin-top: -20px;
	background-color: rgba(48, 44, 44, 1);
	height: 70px;


}
#slogan1 {
	margin-left: 20px;
}
#slogan2 {
	font-size: 12px;
	line-height: 2px;
	margin-left: 20px;
	margin-top: -15px;
}
#new-page {
	margin-top: -30px;
	margin-left: 700px;

}

#new {
	background-color:#FFFFFF ;
	}
#side {

}

#exercise {
	color: green;
	margin-top: 20px;
	margin-left: 20px;
	
}



#intro {
	margin-left: 300px;
	margin-top: 80px;
	height: 30px;
	width: 40px;
	border-style: none;
	display: inline-flex;
}

#learn {
	
	margin-left: 10px;
	margin-top: 40px;
	display: inline-block;
}
