<h1>Welcome to the Fit track</h1>

<% @fit.each do |fit| %>
<div>
  <h3><a href="/<%= $exercise.index fit %>"><%= fit[:name] %></a></h3>
  <p><%=fit[:reps] %></p> 
  <p>   <%=fit[:target_muscles] %></p>
</div>
<% end %>