

<body>
	

	<div id ="side">
		
		<h1 id ="fun">Welcome to the Fit track</h1> 
		<p><a class="btn btn-primary btn-lg" href="/new" role="button" id ="learn">check and add an exercise</a></p>
			

	    <% @fit.each do |fit | %> 

			<h3 id = "exercise"><a href="/<%= fit.id %>"><%= fit.title %></a></h3>
			 

		<% end %>
	</div>	

	<main id ="me">
		<img src="me.jpg" id= "pic">
		<p>
			About the owner- Eserophe Ovie-Okoro wanted to combine his passion for web-design and fitness <br> decided to create a blog for himself and others to keep track of their fitness progression. <br>
			Ese looks forward to soon developing the site further for guest contributions aswell. <br> In the meantime we  invites you to browse the site and subscribe for further posts and updates.
		</p>
	</main>
	
</body>

