

<body>
	

	
	<p><a class="btn btn-primary btn-lg" href="/new" role="button" id ="learn">add an exercise</a></p>
	  <h1 id ="fun">Welcome to the Fit track</h1> 
		

		<% @fit.each do |fit | %> 

		<h3><a href="/<%= fit.id %>"><%= fit.title %></a></h3>
		 

		<% end %>
	</div>
	
	
</body>

