


<h1 id ="fun">Welcome to the Fit track</h1> 

<div> </div>

<% @fit.each do |fit | %>

  <h3><a id= "exercise" href="/<%= fit.id %>"><%= fit.title %></a></h3>
 

<% end %>

<div id ="intro">
	<p>
	Welcome to fit track where you can 
		
	</p>

