<br>
<form action="/" method="POST">
	<div>
		<label>Name</label>
	  <input type="text" name="name" placeholder="Name of the exercise">
	</div> <br>

	<div>
	  <label>target muscles</label>
	  <textarea name="target_muscle" placeholder= "The muscle groups you're focusing on"></textarea>
	</div> <br>

	<label>Reps</label>
	  <input type="text" name="reps" placeholder="No. of reps">

	<div>
	  <input type="submit" value="Save Post">
	</div>
</form>